<div class="header">
    <h3 class="title">CLÁUSULAS CONTRATUAIS OBRIGATÓRIAS NO CONTRATO DE LOCAÇÃO</h3> 
 </div>
 <div  >
   <p >
     <h4>Cláusula I - Obrigatória referente a garantia O seguro de Fiança</h4>
     Locatícia contratado pelo LOCADOR junto à PORTO SEGURO CIA. DE SEGUROS
     GERAIS, em que a vigência inicial será a data de protocolo da proposta
     ou data distinta acordada entre as partes e a vigência final será a data
     do término do contrato de locação, garantirá esta locação, nos termos do
     inciso III, do artigo 37 da Lei do Inquilinato, mediante pagamento de
     prêmio, ressalvadas as exceções previstas nas condições gerais. São de
     conhecimento do LOCADOR e LOCATÁRIO (S) as Condições Gerais do seguro de
     Fiança Locatícia, sendo que para a contratação da apólice, locador e
     locatário definiram previamente, mediante acordo, a seguradora e o
     corretor de seguros. Para efeito desta garantia, locador e locatário
     acordam que os prêmios iniciais e renovações do seguro da fiança
     locatícia, calculados conforme NORMAS VIGENTES, serão pagos pelo(s)
     Locatário(s). A apólice garantirá exclusivamente as coberturas
     especificadas na proposta de seguro. Eventuais débitos decorrentes do
     presente contrato, não pagos pelos Locatários após regularmente instados
     a tanto serão comunicados às entidades mantenedoras de bancos de dados
     de proteção ao crédito (Serasa, SPC, etc.), quer pelos Locadores, quer
     pela Seguradora. Tais débitos incluem todas as despesas com as medidas
     judiciais cabíveis. Notificações em geral, inclusive sobre eventuais
     débitos decorrentes do presente contrato poderão ser realizadas ao
     locatário, via e-mail. Para exercer os direitos e dar cumprimento às
     obrigações desse contrato, os LOCATÁRIOS declaram-se solidários entre si
     e constituem-se reciprocamente PROCURADORES, conferindo-se mutuamente
     poderes especiais para receber citações, notificações e intimações,
     confessar, desistir, e assinar tudo quanto se tornar necessário,
     transigir em Juízo ou fora dele, fazer acordos, firmar compromissos
     judiciais ou extrajudiciais, receber e dar quitação*. **Na ocorrência de
     inadimplência garantida pela apólice de seguro, o locador autoriza <span><%=propertyOwnerName%>, CPF <%=propertyOwnerCPF%></span> a receber e dar quitação para
     os dele, fazer acordos, firmar compromissos judiciais ou extrajudiciais,
     receber e dar quitação. IMPORTANTE: *Este parágrafo deverá ser utilizado
     nos contratos de locação firmados por pessoas físicas, quando houver
     mais de um locatário. **O preenchimento deste parágrafo não é
     obrigatório. Deve ser realizado somente quando o locador der procuração
     a terceiros (ex: imobiliária / administradora / advogado). Neste caso, a
     cláusula deverá ser preenchida para isentar a apresentação da procuração
     ou do contrato de prestação de serviços no momento de eventual sinistro
     indenizável.
   </p>

   <p>
       <h4>
     Cláusula II - (quando contrata a cobertura adicional de Danos ao Imóvel)</h4>
     O Locatário declara para todos os fins e efeitos que recebe o imóvel
     locado no estado em que se encontra de conservação e uso, identificado
     no Laudo de Vistoria Inicial o qual é parte integrante deste contrato,
     assinado por todos os contratantes, obrigando-se e comprometendo-se a
     devolvê-lo nesse estado, independentemente de qualquer aviso ou
     notificação prévia e qualquer que seja o motivo de devolução, sob pena
     de incorrer nas cominações previstas neste contrato ou estipuladas em
     lei, além da obrigação de indenizar por danos ou prejuízos decorrentes
     da inobservância dessa obrigação, salvo as deteriorações decorrentes do
     uso normal do imóvel.
   </p>

   <p>
     <h4>Cláusula III – (quando contratada a cobertura adicional de pintura
     interna)</h4> Declara o Locatário, para todos os fins e efeitos de direito,
     que recebe o imóvel locado com Pintura Interna nova, e assim obriga-se,
     ao final da locação, a pintá-lo e devolvê-lo no mesmo estado em que
     recebeu, sob pena de incorrer nas cominações previstas neste contrato ou
     estipuladas em lei. O Locatário declara ainda estar ciente de que não
     devolvendo o imóvel pintado internamente, a Seguradora indenizará o
     Locador pelo ônus da Pintura, e terá direito de reaver o valor que tiver
     sido pago. O Segurado deverá comunicar o Sinistro a Porto Seguro no
     prazo máximo de 15 (quinze) dias a contar da desocupação do imóvel.
   </p>

   <p>
     <h4>Cláusula IV – (quando contratada a cobertura adicional de pintura
     externa)</h4> Declara o Locatário, para todos os fins e efeitos de direito,
     que recebe o imóvel locado com Pintura Externa nova, e assim obriga-se
     ao final da locação, o pintá-lo e devolve-lo no mesmo estado em que
     recebeu, sob pena de incorrer nas cominações previstas neste contrato ou
     estipuladas em lei. O locatário declara ainda estar ciente de que não
     devolvendo o imóvel pintado externamente, a Seguradora indenizará o
     Locador pelo ônus da Pintura, e terá direito de reaver o valor que tiver
     sido pago. O Segurado deverá comunicar o Sinistro a Porto Seguro no
     prazo máximo de 15 (quinze) dias a contar da desocupação do imóvel. Esta
     cobertura é válida somente para imóveis residenciais e não residenciais
     do tipo “casa”, onde o locatário ocupa a totalidade do imóvel alugado.
   </p>
 </div>